body{
    background-image: url("../images/oldworldmap.jpg");
    background-size: cover;
}
.trivia-body{
    position: absolute;
    top: 15%;
    left: 20%;
    height: 52em;
    width: 75em;
    padding: 100px, 200px;
    border: 3px solid black;
    background-color: maroon;
    background: rgba(128, 0, 0, 0.8);
    color: antiquewhite;
}
.header{
    text-align: center;
}
.header-logo{
    margin-top: 10px;
    position: relative;
    opacity: 1;
}
#start{
    margin-left: 41.5em;
}
#time-left{
    text-align: center;
    font-size: 48px;
    color: yellowgreen;
}
.questions{
    text-align: center;
}
#submit{
    margin-left: 42.5em;
}
#done{
    text-align: center;
}
#results{
    text-align: center;
}